html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
  overflow-y: hidden;
}


.dashboard-intro-container {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: #FFF7EB; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}


.dashboard-card {
  background-color: #FCF0CD; 
  border-radius: 20px;
  padding: 40px 60px;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.dashboard-title {
  font-size: 40px;
  color: #8F582D;   
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', sans-serif;
  font-style: italic;
}


.dashboard-subtitle {
  font-size: 20px;
  color: #8F582D;
  margin-bottom: 30px;
}


.dashboard-start-btn {
  background-color: #E8A87C; 
  color: white;
  padding: 14px 30px;
  font-size: 22px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.dashboard-start-btn:hover {
  background-color: #D6916A;
}


